<template>
	<NuxtLayout>
		<NuxtPage />
	</NuxtLayout>
</template>

<script setup lang="ts">
import "~/assets/scss/main.scss";
import { Buffer } from "buffer"

if (!import.meta.server) {
	window.Buffer = Buffer;
	window.process = await import("process");

	window.addEventListener('beforeinstallprompt', (e) => {
		return e.preventDefault();
	});

	// Install coi-serviceworker
	await navigator.serviceWorker.register('/coi-serviceworker@0.1.7.min.js', {scope: '/'});
	await navigator.serviceWorker.ready;

	if (!window.crossOriginIsolated && !navigator.serviceWorker.controller)
		window.location.reload();
}
</script>
