<template>
	<h1>{{ site.data.value?.name }}</h1>
	<AlbumList v-if="albums" :site-id="siteId" :albums="albums" />
</template>

<script setup lang="ts">
import { db } from '~/utils/db';
import { usePreviewSiteData } from '~/utils/hooks/useSiteData';

const route = useRoute();

const siteId = Number(route.params.siteId);
if (!isFinite(siteId)) {
	throw createError({
		statusCode: 404,
		statusMessage: "Invalid siteId",
	});
}

const site = useAsyncData(async () => await db?.sites.get(siteId));
const { editedData } = usePreviewSiteData(siteId);

const albums = computed(
	() => editedData.value?.albums
		.filter(a => a.siteId === siteId)
		.sort((a, b) => a.createdAt.getTime() - b.createdAt.getTime())
);
</script>
