<template>
	<ul>
		<li v-for="site of props.sites">
			<SiteEntry :site="site" />
		</li>
		<li>
			<SiteCreateButton />
		</li>
	</ul>
</template>

<script setup lang="ts">
import type { SiteInfo } from '~/utils/types';

const props = defineProps<{
	sites: SiteInfo[],
}>();
</script>
