<template>
	<NuxtLink :href="`/site/${props.site.id}`">
		{{ props.site.name || "Untitled Site" }}
	</NuxtLink>
</template>

<script setup lang="ts">
import type { SiteInfo } from '~/utils/types';

const props = defineProps<{
	site: SiteInfo,
}>();
</script>
