<template>
	<button @click="handleCreate">Create Site</button>
</template>

<script setup lang="ts">
import { db } from '~/utils/db';

async function handleCreate() {
	const site = await db?.sites.add({
		name: "",
		updatedAt: new Date(),
		createdAt: new Date(),
	});

	navigateTo(`/site/${site}`);
}
</script>