<template>
	<h1>Index</h1>
	<SiteList v-if="sites" :sites="sites" />
</template>

<script setup lang="ts">
import { from, useObservable } from '@vueuse/rxjs';
import { liveQuery } from 'dexie';
import { db } from '~/utils/db';
import type { SiteInfo } from '~/utils/types';

const sites = useObservable<SiteInfo[]>(from(
	liveQuery(async () => {
		return (
			await db?.sites.toArray()
		)?.sort((a, b) => a.updatedAt.getTime() - b.updatedAt.getTime())
			?? [];
	})
));
</script>
