<template>
	<PreviewLayout :site-data="editedData">
		<h1>{{ album.data.value?.title || "Untitled Album" }}</h1>
		<TrackList
			v-if="siteId && tracks"
			:site-id="siteId"
			:album-id="albumId"
			:tracks="tracks"
		/>
	</PreviewLayout>
</template>

<script setup lang="ts">
import PreviewLayout from '~/components/preview/PreviewLayout.vue';
import { db } from '~/utils/db';
import { usePreviewSiteData } from '~/utils/hooks/useSiteData';

const route = useRoute();

const albumId = Number(route.params.albumId);
if (!isFinite(albumId)) {
	throw createError({
		statusCode: 404,
		statusMessage: "Invalid albumId",
	});
}

const album = useAsyncData(async () => await db?.albums.get(albumId));
const siteId = computed(() => album.data.value?.siteId);

const { editedData } = usePreviewSiteData(siteId);

const tracks = computed(
	() => editedData.value?.tracks
		.filter(t => t.albumId === albumId)
		.sort((a, b) => a.createdAt.getTime() - b.createdAt.getTime())
);
</script>
