<template>
	<ul>
		<li v-for="album of props.albums">
			<AlbumEntry :album="album" />
		</li>
		<li>
			<AlbumCreateButton :site-id="props.siteId" />
		</li>
	</ul>
</template>

<script setup lang="ts">
import type { AlbumInfo } from '~/utils/types';

const props = defineProps<{
	siteId: number,
	albums: AlbumInfo[],
}>();
</script>
