<template>
	<NuxtLink :href="`/album/${props.album.id}`">
		{{ props.album.title || "Untitled Album" }}
	</NuxtLink>
</template>

<script setup lang="ts">
import type { AlbumInfo } from '~/utils/types';

const props = defineProps<{
	album: AlbumInfo,
}>();
</script>
