<template>
	<button @click="handleCreate">Create Album</button>
</template>

<script setup lang="ts">
import { db } from '~/utils/db';

const props = defineProps<{
	siteId: number,
}>();

async function handleCreate() {
	const albumId = await db?.albums.add({
		siteId: props.siteId,
		title: "",
		createdAt: new Date(),
		updatedAt: new Date(),
	});

	navigateTo(`/album/${albumId}`);
}
</script>
