<template>
	<button @click="handleCreate">Add Track</button>
</template>

<script setup lang="ts">
import * as musicMetadata from 'music-metadata-browser';
import type { TrackInfo } from '~/utils/types/TrackInfo';
import { useFileHandleDialog } from '~/utils/hooks/useFileHandleDialog';
import { tracks } from '~/utils/db';

const props = defineProps<{
	siteId: number,
	albumId: number,
}>();

const { open, onFilePicked } = useFileHandleDialog({
	id: "TrackCreateButton",
	accept: 'audio/*',
	extensions: [".flac"],
	directory: false,
	multiple: true,
});

function handleCreate() {
	open();
}

onFilePicked(async (handles) => {
	if (!handles) return;

	const arr: TrackInfo[] = await Promise.all(
		handles.map(async handle => {
			const file = await handle.getFile();
			const metadata = await musicMetadata.parseBlob(file);

			return {
				albumId: props.albumId,
				siteId: props.siteId,
				title: metadata.common.title || file.name,
				createdAt: new Date(),
				updatedAt: new Date(),
				fileName: file.name,
				fileHandle: handle,
			};
		})
	);

	await tracks.addTracks(arr);
});
</script>
