<template>
	<div>
		<p>{{ props.track.fileName }}</p>
		<input type="text" v-model="titleRef" @change="handleChange">
		<button @click="handleRemove">Remove</button>
	</div>
</template>

<script setup lang="ts">
import type { TrackInfo } from '~/utils/types/TrackInfo';
import { tracks } from '~/utils/db';

const props = defineProps<{
	id: number,
	track: TrackInfo,
}>();

const titleRef = ref(props.track.title);

async function handleChange() {
	await tracks.updateTrack(props.id, { title: titleRef.value });
}

async function handleRemove() {
	await tracks.deleteTrack(props.id);
}
</script>