<template>
	<ol>
		<li v-for="track of props.tracks">
			<TrackEntry v-if="track.id" :id="track.id" :track="track" />
		</li>
	</ol>
	<TrackCreateButton :site-id="props.siteId" :album-id="props.albumId" />
</template>

<script setup lang="ts">
import type { TrackInfo } from '~/utils/types/TrackInfo';

const props = defineProps<{
	siteId: number,
	albumId: number,
	tracks: TrackInfo[],
}>();
</script>
