<template>
	<iframe ref="iframeRef"></iframe>
</template>

<script setup lang="ts">
import { createAudiopageData } from '~/utils/generator/audiopage';
import type { SiteData } from '~/utils/hooks/useSiteData';
import { useDevServer } from '~/utils/hooks/useWebContainer';

const props = defineProps<{
	siteData: SiteData|undefined,
}>();

const { instanceUrl, instance } = useDevServer();

const iframeRef = ref<HTMLIFrameElement>();

if (instanceUrl) {
	watch(instanceUrl, (url) => {
		if (url) {
			iframeRef.value!.src = url;
		}
	});
}

watchEffect(() => {
	const data = props.siteData;
	const inst = instance?.value;
	if (!data || !inst || !instanceUrl?.value) return null;

	createAudiopageData(data).then(async (pageData) => {
		console.log("write audiopage.json");
		await inst.fs.writeFile("audiopage.json", JSON.stringify(pageData));
	});
});
</script>

<style scoped>
iframe {
	width: 100%;
	height: 100%;
	border: 0;
}
</style>
