<template>
	<div class="content">
		<slot />
	</div>
	<div class="preview">
		<PreviewEmbed :site-data="props.siteData" />
	</div>
</template>

<script setup lang="ts">
import type { SiteData } from '~/utils/hooks/useSiteData';
import PreviewEmbed from './PreviewEmbed.vue';

const props = defineProps<{
	siteData: SiteData|undefined,
}>();
</script>

<style scoped>
.content {
	margin-right: 50vw;
}

.preview {
	position: fixed;
	top: 0;
	right: 0;
	left: 50vw;
	bottom: 0;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
    box-shadow: 0 0 3px 0px #000;
}
</style>
